<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- Vue.js -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- Axios.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js" integrity="sha512-quHCp3WbBNkwLfYUMd+KwBAgpVukJu5MncuQaWXgCrfgcxCJAq/fo+oqrRKOj+UKEmyMCG3tb8RB63W+EmrOBg==" crossorigin="anonymous"></script>
    <script defer src="main.js"></script>
</head>
<body>
    <div id="app">
        <select v-model="selectedCategory" name="" id="">
            <option v-for='category in categories' :value="category.id">{{ category.name }}</option>
        </select>
        <button @click="getCatImage">MEOW</button>
        <img :src="catUrl" alt="Random Cat">
    </div>
</body>
</html>