* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p{;
    padding: 20px;
}

.article{;
    padding: 20px;
}

article:nth-child(1){
    background-color: #C3B091;
    border-radius: 2em;
    padding: 0.75em;
    margin: 1em;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}
article:nth-child(2){
    background-color: #C3B091;
    border-radius: 2em;
    padding: 0.75em;
    margin: 1em;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}
article:nth-child(3){
    background-color: #C3B091;
    border-radius: 2em;
    padding: 0.75em;
    margin: 1em;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}
article:nth-child(4){
    background-color: #C3B091;
    border-radius: 2em;
    padding: 0.75em;
    margin: 1em;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

/* Style the body */
body{
    padding: 30px;
    font-family: 'Combo', cursive;
    background:  #CD853F;
}

header{
    padding: 30px;
    font-size: 60px;
    text-align: center;
    font-weight: bold;
}

footer{
    padding: 2px;
    text-align: center;
}

/* Style the side navigation */
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

/* Side navigation links */
.sidenav a{
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

/* Change color on hover */
.sidenav a:hover{
    color: #f1f1f1;
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
  
.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
}
  
.openbtn:hover {
    background-color: #444;
}
  
main {
    transition: margin-left .5s;
    padding: 16px;
    height: 100vh;
}

/* Style the top navigation bar */
.topnav {
    overflow: hidden;
    background-color: 	#FD3F92;
    
}
  
  /* Style the topnav links */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

  /* Change color on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

h6{
    text-align: left;
    font-size: 1em;
    margin-left: 2em;
}

h2{
    text-align: center;
    margin-bottom: 2em;
}

img{
    width: 50%;
    margin: 1em;
    border-radius: 15%;
    align-items: center;
    box-shadow:10px 10px 5px 0px rgba(0,0,0,0.75);
}

section{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width:900px){
    body{
        background-color: purple;
        display: flex;
    }

}